#kodluyoruzHead {
    display: flex;
    align-items: center;
    justify-content: center;
    color: orange;
    margin-top: 5;
}
body{
    background-color:darkgray;
}

#demo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: orange;
    margin-top: 5;
    font-size: 20px;

}

#clock{
    display: flex;
    align-items: center;
    justify-content: center;
    color: orange;
    margin-top: 5;
    font-size: 20px;
}
#content{
    display: flex;
    align-items: center;
    justify-content: center;
    color: orange;
    margin-top: 5;
    font-size: 20px;
} 
